*.pyc
.vagrant/
*.log
*.so
__pycache__/
libtorrent-conan/conanbuildinfo.cmake
libtorrent-conan/conanbuildinfo.txt
libtorrent-conan/conaninfo.txt
conanbuildinfo.cmake
conanbuildinfo.txt
conaninfo.txt
CMakeFiles/
libtorrent.so
Makefile
CMakeCache.txt
cmake_install.cmake
graph_info.json
conan.lock
