language: generic
matrix:
    include:
      - os: linux
        dist: trusty
        sudo: true
        addons:
          apt:
            update: true
            sources:
              - george-edison55-precise-backports
              - ubuntu-toolchain-r-test
            packages:
              - cmake
              - cmake-data
              - python-dev
              - python-all
              - python-all-dev
              - python-gevent
              - python-greenlet
              - python-minimal
              - python-msgpack
              - python-wheel
              - g++-6
          env:
            - MATRIX_EVAL="CC=gcc-6 && CXX=g++-6"
      - os: osx

before_install:
  - eval "${MATRIX_EVAL}"
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then pip install conan; else pip install --user conan; fi
  - sudo pip install urllib3[secure]
  - conan remote add libtorrent https://api.bintray.com/conan/rllola80/Libtorrent
install:
  - conan install --build=missing .
  - conan build .
script:
  - python test.py

deploy:
  provider: releases
  skip_cleanup: true
  api_key:
    secure: $GH_TOKEN
  file_glob: true
  file:
    - lib/__init__.py
    - lib/libtorrent.so
    - src/*
    - __init__.py
    - AlertEncoder.py
    - test.py
    - TorrentPlugin.py
  branches:
    only:
      - master
      - pblish-release
